<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a otp from:  <%= @user.name %>!</p>
    <p>
    Please enter OTP details in your verification box<br>
    --------------------------
    </p>
    <p>PIN: <%=@user.pin%></p>
  </body>
</html>