<div class="page">
	<div class="page-main">
			<aside class="app-sidebar app-sidebar3">
						<div class="app-sidebar__user">
							<div class="dropdown user-pro-body text-center">
								<div class="user-pic">
									<%=image_tag('dashboard_logo.png',class:"img-fluid")%>
								</div>
							</div>
						</div>
						<ul class="side-menu">
							<li class="slide">
								<a class="side-menu__item"  href="/">
									<i class="fa fa-user mr-2"></i>
								<span class="side-menu__label">Dashboard</span></a>
								<!-- <ul class="slide-menu">
									<li><a class="slide-item"  href="index.html"><span>Dashboard 01</span></a></li>
									<li><a class="slide-item" href="index2.html"><span>Dashboard 02</span></a></li>
									<li><a class="slide-item" href="index3.html"><span>Dashboard 03</span></a></li>
									<li><a class="slide-item" href="index4.html"><span>Dashboard 04</span></a></li>
									<li><a class="slide-item" href="index5.html"><span>Dashboard 05</span></a></li>
								</ul> -->
							</li>
							<li class="slide">
								<a class="side-menu__item"  href="/students">
									<i class="fa fa-book mr-2"></i>
								<span class="side-menu__label">Students</span></a>							
							</li>
							<li class="slide">
								<a class="side-menu__item"  href="/colleges">
									<i class="fa fa-heart mr-2"></i>
								<span class="side-menu__label">College Profile</span></a>							
							</li>
							<li class="slide">
								<a class="side-menu__item"  href="#">
									<i class="fa fa-question-circle mr-2"></i>								
								<span class="side-menu__label">Help & Support</span></a>							
							</li>
							<li class="slide">
								<a class="side-menu__item"  href="#">
									<i class="fa fa-comments mr-2"></i>
								<span class="side-menu__label">Chat with us</span></a>							
							</li>
							<li class="slide">
								<a class="side-menu__item"  href="#">
									<i class="fas fa-dollar-sign mr-2"></i>
								<span class="side-menu__label">Billing</span></a>							
							</li>
						</ul>
						<div class="app-sidebar-help">
							<div class="dropdown text-center">
								<div class="help d-flex">
									<a href="#" class="nav-link p-0 help-dropdown" data-toggle="dropdown">
										<i class="fa fa-cog mr-2"></i> <span class="font-weight-bold">Setting</span> 
									</a>
								</div>
							</div>
								<div class="dropdown text-center">
									<div class="help d-flex">
										<a href="<%= destroy_user_session_path %>" data-method="delete" class="nav-link p-0 help-dropdown" data-toggle="dropdown">
											<i class="fas fa-sign-out-alt mr-2" aria-hidden="true"></i> <span class="font-weight-bold">Log Out</span> 

										</a>
									</div>
								</div>
						</div>
			</aside>
		</div>
	</div>